<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <p>Learning Distributed Tracing 101</p>
      </div>
    </div>
    <div id="topbar-nav" class="navbar-menu">
    </div>
  </nav>
</header>